.text-color-blue {
    color: #4472C4;
}

.text-color-green:hover {
    color: #4CAF50;
}

.background-color-blue {
    background-color: #4472C4;
}

.background-color-green:hover {
    background-color: #4CAF50;
}

.blue-line {
    background-image: url("./line.svg");
    background-repeat: no-repeat;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}